cache/xsd/localhost_8080/property/licenseList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="19.0">
	<xs:element name="licenseList">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
					List of licenses for Professional Designation of the verifier.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="license" minOccurs="0" maxOccurs="50"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="license">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>
					License details for Professional Designations.
				</xs:documentation>
			</xs:annotation>
			<xs:all>
				<xs:element name="index" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Index number of the stored license details
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="countryCode" type="countryCode" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>License country code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="licenseNumber" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>License Number for all professional designations.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="licenseState" type="stateCode" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>License State Code</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="licenseName" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>License Name for Other</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="countryCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="US">
				<xs:annotation>
					<xs:documentation>United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="">
				<xs:annotation>
					<xs:documentation>Empty when designation type code are CEM, ASHRAE, OTHER and NPD.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stateCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AK">
				<xs:annotation>
					<xs:documentation>Alaska in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AL">
				<xs:annotation>
					<xs:documentation>Alabama in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>Arkansas in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation>American Samoa in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AZ">
				<xs:annotation>
					<xs:documentation>Arizona in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>California in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO">
				<xs:annotation>
					<xs:documentation>Colorado in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CT">
				<xs:annotation>
					<xs:documentation>Connecticut in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DC">
				<xs:annotation>
					<xs:documentation>District of Columbia (D.C.) in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>Delaware in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FL">
				<xs:annotation>
					<xs:documentation>Florida in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GA">
				<xs:annotation>
					<xs:documentation>Georgia in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GU">
				<xs:annotation>
					<xs:documentation>Guam in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HI">
				<xs:annotation>
					<xs:documentation>Hawaii in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IA">
				<xs:annotation>
					<xs:documentation>Iowa in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>Idaho in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>Illinois in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>Indiana in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KS">
				<xs:annotation>
					<xs:documentation>Kansas in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KY">
				<xs:annotation>
					<xs:documentation>Kentucky in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LA">
				<xs:annotation>
					<xs:documentation>Louisiana in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MA">
				<xs:annotation>
					<xs:documentation>Massachusetts in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MD">
				<xs:annotation>
					<xs:documentation>Maryland in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ME">
				<xs:annotation>
					<xs:documentation>Maine in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MH">
				<xs:annotation>
					<xs:documentation>Marshall Islands in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MI">
				<xs:annotation>
					<xs:documentation>Michigan in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MN">
				<xs:annotation>
					<xs:documentation>Minnesota in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MO">
				<xs:annotation>
					<xs:documentation>Missouri in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MP">
				<xs:annotation>
					<xs:documentation>Northern Mariana Islands in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MS">
				<xs:annotation>
					<xs:documentation>Mississippi in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MT">
				<xs:annotation>
					<xs:documentation>Montana in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NC">
				<xs:annotation>
					<xs:documentation>North Carolina in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ND">
				<xs:annotation>
					<xs:documentation>North Dakota in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NE">
				<xs:annotation>
					<xs:documentation>Nebraska in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NH">
				<xs:annotation>
					<xs:documentation>New Hampshire in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NJ">
				<xs:annotation>
					<xs:documentation>New Jersey in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NM">
				<xs:annotation>
					<xs:documentation>New Mexico in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NN">
				<xs:annotation>
					<xs:documentation>Navajo Nation in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NV">
				<xs:annotation>
					<xs:documentation>Nevada in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NY">
				<xs:annotation>
					<xs:documentation>New York in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OH">
				<xs:annotation>
					<xs:documentation>Ohio in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation>Oklahoma in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OR">
				<xs:annotation>
					<xs:documentation>Oregon in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>Pennsylvania in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PI">
				<xs:annotation>
					<xs:documentation>Pacific Islands in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PR">
				<xs:annotation>
					<xs:documentation>Puerto Rico in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RI">
				<xs:annotation>
					<xs:documentation>Rhode Island in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SC">
				<xs:annotation>
					<xs:documentation>South Carolina in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SD">
				<xs:annotation>
					<xs:documentation>South Dakota in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TN">
				<xs:annotation>
					<xs:documentation>Tennessee in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TT">
				<xs:annotation>
					<xs:documentation>Trust Territories in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TX">
				<xs:annotation>
					<xs:documentation>Texas in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UM">
				<xs:annotation>
					<xs:documentation>U.S. Minor Outlying Islands in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UT">
				<xs:annotation>
					<xs:documentation>Utah in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VA">
				<xs:annotation>
					<xs:documentation>Virginia in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VI">
				<xs:annotation>
					<xs:documentation>Virgin Islands of the U.S. in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VT">
				<xs:annotation>
					<xs:documentation>Vermont in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WA">
				<xs:annotation>
					<xs:documentation>Washington in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WI">
				<xs:annotation>
					<xs:documentation>Wisconsin in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WQ">
				<xs:annotation>
					<xs:documentation>Wake Island in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WV">
				<xs:annotation>
					<xs:documentation>West Virginia in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WY">
				<xs:annotation>
					<xs:documentation>Wyoming in United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AB">
				<xs:annotation>
					<xs:documentation>Alberta province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BC">
				<xs:annotation>
					<xs:documentation>British Columbia province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MB">
				<xs:annotation>
					<xs:documentation>Manitoba province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NB">
				<xs:annotation>
					<xs:documentation>New Brunswick province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NL">
				<xs:annotation>
					<xs:documentation>Newfoundland and Labrador province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NS">
				<xs:annotation>
					<xs:documentation>Nova Scotia province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NT">
				<xs:annotation>
					<xs:documentation>Northwest Territories province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NU">
				<xs:annotation>
					<xs:documentation>Nunavut province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ON">
				<xs:annotation>
					<xs:documentation>Ontario province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PE">
				<xs:annotation>
					<xs:documentation>Prince Edward Island province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QC">
				<xs:annotation>
					<xs:documentation>Quebec province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SK">
				<xs:annotation>
					<xs:documentation>Saskatchewan province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YT">
				<xs:annotation>
					<xs:documentation>Yukon province in Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

